*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#message-mail, 
#outcome{
    margin: 50px;
}

#roll-dice-1,
#roll-dice-2{
    margin-left: 50px;
}


#valid-format{
    color: red;
    font-size: 30px;
}